
<div style="background-color: aquamarine; margin: 50px; padding: 50px;">
    <h1 style="margin: auto;" class="mt-4">Intern Dashboard</h1>
    <p style="margin: auto;" class="lead mb-3">Welcome to Intern Page <%= user.name %></p>
    <a style="margin: auto;" href="/users/logout" class="btn btn-secondary">Logout</a>
</div>
