<div style="background-color: #f3bda1;" class="row mt-5">
    <div class="col-md-6" class="col-md-6" style="margin:auto; padding: 50px; ">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i style="color: #02475e;" class="fas fa-sign-in-alt"></i>Intern Login</h1>
        <%- include ("./partials/messages")%>
        <form action="/users/logini" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button type="submit" style="background-color: #926e6f;" class="btn btn-primary btn-block">Login</button>
        </form>
        <p class="lead mt-4">
          No Account? <a href="/users/register">Register</a>
        </p>
      </div>
    </div>
  </div>
  