<div style="background-color: #f3bda1;" class="row mt-5">
  <div class="col-md-6" style="margin:auto; padding: 50px; ">
    <div class="card card-body text-center">
      <h1><i style="color: #02475e;" class="fas fa-hand-holding-heart fa-3x"></i></h1>
      <p>Create an account or login</p>
      <a style="background-color: #926e6f;" href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a style="background-color: #ca8a8b;" href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
